body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9a3ab;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #c3e97d;
}

.form-container {
    width: 48%;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    position: relative;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.dashboard-container {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5c2c2;
    display: none;
}

.sidebar {
    width: 300px;
    margin-right: 100px;
    vertical-align: bottom;

}

.sidebar button {
    bottom: 10px;
    margin-bottom: 50%;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007BFF;
    color: rgba(232, 236, 239, 0.934);
    border:none;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #0056b3;
}

.content {
    flex-grow: 1;
}

.content > div {
    display: none;
}

.content > div.active {
    display: block;
}



